<html>
<head>
  <title>Spotify</title>
</head>
<body>
  <form method='post' action="/">
    Select A Playlist:
    <select name=playlists>
      {% for playlist in playlists %}
      <option value="{{playlist['id']}}">{{ playlist['name'] }}</option>
      {% endfor %}
    </select> <br />
    Frequency: <input type="number" name="increment" value="5" min="1" max="10"> songs<br />
    Number of Songs Displayed: <input type="number" name="song_count" value="10" min="1" max="15"> songs<br />
    Text Color: <input type="color" name="text" value="#FFFFFF"> <br />
    Background Color: <input type="color" name="background" value="#000000"> <br />
    Chart Title: <input type="text" name="title" value="Spotify Artists over Time"> <br />
    <input type=submit value="Create Graph">
  </form>
  {% if chart %}
  {{ chart|safe }}
  {% endif %}
</body>
